# Flask
FLASK_APP=
FLASK_ENV=

# Database
DATABASE_URL=
TEST_DATABASE_URL=
STAGE_DATABASE_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB_DEV=
POSTGRES_DB_STAGE=
POSTGRES_DB_TEST=

# Security
JWT_SECRET_KEY=
SECRET_KEY=
